<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Rules
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i><a>Dashboard</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Rules
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="col-lg-12">
    <h2>Rules Currently Set </h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Operator</th>
            <th>Action</th>
            <th>Active</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Boiler Over Heat</td>
            <td>210</td>
            <td> > </td>
            <td>Pump Off</td>
            <td>
              <span>
                <input type="checkbox">
              </span>
            </td>
            <td>
              Delete update Modify
            </td>
          </tr>
          <tr>
            <td>Boiler Under Temperature</td>
            <td>163</td>
            <td> < </td>
            <td>Pump Off</td>
            <td>
              <span>
                <input type="checkbox">
              </span>
            </td>
            <td>
              Delete update Modify
            </td>
          </tr>
          <tr>
            <td>Pump on</td>
            <td>195</td>
            <td> > </td>
            <td>Pump on</td>
            <td>
              <span>
                <input type="checkbox">
              </span>
            </td>
            <td>
              Delete update Modify
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <input class="form-control" placeholder="Name">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control" placeholder="Alert">
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control">
                  <option> > </option>
                  <option> < </option>
                  <option> <= </option>
                  <option> >= </option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control">
                  <option> Pump On </option>
                  <option> Pump Off </option>
                </select>
              </div>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <!-- This is blank -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.row -->
