<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#home"><i class="fa fa-lg fa-fw fa-home"></i> Home <i class="fa fa-fw fa-caret-down"></i></a>
  <ul id="home" class="collapse">
    <li>
      <a data-role="dashboard" ><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
      <a data-role="rules" ><i class="fa fa-fw fa-edit"></i> Rules</a>
      {{!-- <a>Coal Shed</a> --}}
      {{!-- <a>Basement</a> --}}
      {{!-- <a>Garage</a> --}}
    </li>
  </ul>
</li>

<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#boat"><i class="fa fa-lg fa-fw fa-ship"></i> Boat <i class="fa fa-fw fa-caret-down"></i></a>
  <ul id="boat" class="collapse">
    <li>
      {{!-- <a><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> --}}
      <a data-role="camera"><i class="fa fa-video-camera"></i> Camera</a>
      {{!-- <a>Dock</a> --}}
    </li>
  </ul>
</li>
