<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#demo"> Home <i class="fa fa-fw fa-caret-down"></i></a>
  <ul id="demo" class="collapse">
    <li>
      <a><i class="fa fa-fw fa-dashboard"></i> Main Dash</a>
      <li>
        <a>Coal Shed</a>
      </li>
      <li>
        <a>Basement</a>
      </li>
      <li>
        <a>Garage</a>
      </li>
    </li>
  </ul>
  <li>
    <a><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
  </li>
  <li data-role="rules" >
    <a><i class="fa fa-fw fa-edit"></i> Rules</a>
  </li>
</li>
