<div class="container jumbotron row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
      </div>
      <div class="panel-body">
        <form role="changePass">
          <fieldset>
            <div class="form-group">
              <input name="passwords[old]" type="password" class="form-control" placeholder="Old Password" required>
            </div>
            <div class="form-group">
              <input name="passwords[new]" type="password" class="form-control" placeholder="New Password" required>
            </div>
            <a class="changePass-button btn btn-lg btn-info btn-block">Change Password</a>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
